header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.logo {
    display: flex;
    position: fixed;
    align-items: left;
    background: url("../images/logo.png") center;
    margin-left: 20px;
    height: 30px
    width: auto
}